jinja2
pytest
pytest-cov
boto3>=1.3.0
progressbar-latest
gnupg
requests
structlog
pytz
logutils==0.3.3
moto
pytest-moto
mock
git+git://github.com/threatresponse/margaritashotgun.git
pluginbase
git+git://github.com/threatresponse/aws_ir_plugins.git